
.form-group {
    margin-bottom: 1rem;
}
#inputvalue {
    width: 760px;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    outline: none;
    color: #495059;
    background-color: #fff;
    border: 1px solid #ced4da;

}

#search{
    color: #fff;
    background-color: hsl(211, 100%, 50%);
    outline: none;
    min-height: 38px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    margin-bottom: 20px;
    
}

#moviesearhable{
    margin-top: 50px;
    margin-bottom: 70px;
    padding: 30px;
}

.movie {
    margin-bottom: 50px;
}
section  {
    display: flex;
    width: 100%;
    overflow-x: auto;
}

section img{
    width: 150px;
}


img:hover  {
    margin-left: 0  40px;
    transform: scale(1.2);
    cursor: pointer;
} 

.content{
    border: 1px solid lightgrey;
    padding: 20px;
    display: none;
}

#content-close {
    cursor: pointer;
}

.content div {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px;
}

.content-display {
    display: block;
}